@font-face {
    font-family: "MinecraftTen";
    src: url("PUSAB___.otf");
}

html,body{
    background-color: black;
    color: white;
    font-family: "MinecraftTen";
    display:inline-block;
}
p{
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

nav{
    border-bottom-style:solid;
    border-bottom-width: 7px;
    border-bottom-color:green;
}

.navel{
    margin-left:200px;
}

#Name{
    color:white ;
    padding-top:20px;
    text-align: center;
}

#cen{
    /*position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;*/
    width:20vw;
    margin-left: 39.5vw;
}

#down, #downv{
    color:rgb(255, 255, 255);
    background-color: green;
    /*margin-top: -50px;
    margin-left: -100px;*/
    font-family: "MinecraftTen";
    position:relative;
    float:left;
    margin:3vw;
    width:20vw;
}

#next{
    display:inline-block;
    margin-left:23vw;
}

#nextto{
   width:70vw; 
   margin-left:15vw;
   text-align:center;
}

#ok{
    width: 98vw;
    animation: change 5s infinite ease-in-out;
    background-repeat: no-repeat;

}

@keyframes change{
    0%{
        background-repeat: no-repeat;
        background-image: url("1.png");
    }

    25%{
        background-repeat: no-repeat;
        background-image: url("2.png");
    }

    50%{
        background-repeat: no-repeat;
        background-image: url("3.png");
    }

    100%{
        background-repeat: no-repeat;
        background-image: url("1.png");
    }
}

#quest{
    text-align: center;
    margin-left: 15vh;
}

#questanswer{
    text-align: center;
    margin-left: 15vh;
}
